{% extends 'finance/base.html' %}

{% block content %}
    <!-- Header for Add Material -->
    <div style="background-color: #294FA2; height: 130px; width: 100%; display: flex; justify-content: flex-start; align-items: center; border-top-left-radius: 7px; border-top-right-radius: 7px;">
        <h1 style="color: white; margin-left: 20px; font-family: 'Istok Web', sans-serif;">Add Material</h1>
    </div>

    <!-- Centered Form Container -->
    <div style="background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; max-width: 600px; margin: 40px auto; border-radius: 7px;">
        <form method="POST">
            {% csrf_token %}
            <div>
                {{ form.mat_name.label_tag }}
                {{ form.mat_name }}
                {{ form.mat_name.errors }}
            </div>
            <br>
            <div>
                {{ form.mat_quantity.label_tag }}
                {{ form.mat_quantity }}
                {% if form.mat_quantity.errors %}
                    <div style="color: red; font-size: 16px;">{{ form.mat_quantity.errors.0 }}</div>
                {% endif %}
            </div>
            <br>
            <div>
                {{ form.mat_brand.label_tag }}
                {{ form.mat_brand }}
                {{ form.mat_brand.errors }}
            </div>
            <br>
            <div>
                {{ form.mat_measurement.label_tag }}
                {{ form.mat_measurement }}
                {{ form.mat_measurement.errors }}
            </div>
            <br>
            <div>
                {{ form.mat_category.label_tag }}
                {{ form.mat_category }}
                {{ form.mat_category.errors }}
            </div>
            <br>
            <br>
            <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                <button type="submit" style="background-color: #294FA2; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
                    Add Material
                </button>
                <a href="{% url 'finance:materials' %}" style="padding: 10px 20px; background-color: #dc3545; color: white; text-decoration: none; border-radius: 5px; text-align: center;">
                    Cancel
                </a>
            </div>
        </form>
        
    </div>
{% endblock %}
