{% extends 'IT/index.html' %}

{% block content %}
    <div style="background-color: #294FA2; height: 130px; width: 100%; display: flex; justify-content: flex-start; align-items: center; border-top-left-radius: 7px; border-top-right-radius: 7px; position: relative;">
        <h1 style="color: white; margin-left: 20px; font-family: 'Istok Web', sans-serif;">Acknowledgement Receipt</h1>
        

        <div style="display: flex; position: absolute; bottom: 10px; right: 20px;">
            <!-- Search bar -->
            <form method="GET" action="{% url 'it:JO' %}">
                <input type="text" name="search" placeholder="Search..." 
                       style="padding: 8px; border-radius: 7px; border: 1px solid #ccc; width: 250px; height: 30px;"
                       value="{{ request.GET.search }}">
            </form>
        </div>
    </div>
    
    
    
    
    <div style="background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <thead>
                <tr style="border-left: 1px solid #000; border-right: 1px solid #000; border-top: 2px solid #000; border-bottom: 1px solid #000; font-family: 'Alice', regular; font-size: 15px;">
                    <th>AR ID</th>
                    <th>Date Made</th>
                    <th>Date Received</th>
                    <th>Material Code</th>
                    <th>Material Quantity</th>
                    <th>Receiver</th>
                    <th>Created By</th>
                    <th>Note</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for ar in Job_Order %}
                <tr style="font-family: 'Istok Web', sans-serif; font-size: 18px;">
                    <td>{{ ar.ar_num }}</td>
                    <td>{{ ar.ar_date_made }}</td>
                    <td>{{ ar.ar_date_received }}</td>
                    <td>{{ ar.mat_code }}</td>
                    <td>{{ ar.ar_mat_quantity }}</td>
                    <td>{{ ar.ar_receiver }}</td>
                    <td>{{ ar.created_by }}</td>
                    <td>{{ ar.ar_note }}</td>
                    <td>{{ ar.status }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center;">No Acknowledgement Receipt available</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>

{% endblock %}