{% extends 'finance/base.html' %}

{% block content %}
    <!-- Horizontal blue bar with text aligned to the left and space added -->
    <div style="background-color: #294FA2; height: 130px; width: 100%; display: flex; justify-content: flex-start; align-items: center; border-top-left-radius: 7px; border-top-right-radius: 7px; position: relative;">
        <h1 style="color: white; margin-left: 20px; font-family: 'Istok Web', sans-serif;">ACKNOWLEDGEMENT RECEIPT</h1>
    </div>
    
{% endblock %}
