{% extends 'finance/base.html' %}

{% block content %}
<div style="background-color: #294FA2; height: 110px; width: 100%; display: flex; justify-content: flex-start; align-items: center; border-top-left-radius: 7px; border-top-right-radius: 7px; position: relative;">
    <h1 style="color: white; margin-left: 20px; font-family: 'Istok Web', sans-serif;">ITEM REQUEST</h1>
</div>

<!-- Table for materials -->
<div style="background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <table style="width: 100%; border-collapse: collapse; text-align: left;">
        <thead>
            <tr style="border-left: 1px solid #000; border-right: 1px solid #000; border-top: 2px solid #000; border-bottom: 1px solid #000; font-family: 'Alice', regular; font-size: 20px;">
                <th>Item Req No.</th>
                <th>Bus Unit No.</th>
                <th>Approved By</th>
                <th>Description</th>
                <th>Material Name</th>
                <th>Quantity</th>
                <th>Brand</th>
                <th>Measurements</th>
                <th>Category</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in item_requests %}
            <tr style="font-family: 'Istok Web', sans-serif; font-size: 18px;">
                <td>{{ item.item_req_num.item_req_num }}</td>
                <td>{{ item.item_req_num.bus_unit_num.bus_unit_num }}</td>
                <td>{{ item.item_req_num.item_req_approved_by.emp_fname }} {{ item.item_req_num.item_req_approved_by.emp_lname }}</td>
                <td>{{ item.item_req_num.item_req_description }}</td>
                <td>{{ item.mat_code.mat_name }}</td>
                <td>{{ item.mat_req_qty }}</td>
                <td>{{ item.mat_code.mat_brand }}</td>
                <td>{{ item.mat_code.mat_measurement }}</td>
                <td>{{ item.mat_code.mat_category.mat_name }}</td>
                <td>{{ item.item_req_num.item_req_status }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10" style="text-align: center;">No Auto Parts Item Requests Available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
