{% extends 'mechanic/index.html' %}

{% block content %}
    <!-- container of materials -->
    <div style="background-color: #294FA2; height: 110px; width: 100%; display: flex; justify-content: flex-start; align-items: center; border-top-left-radius: 7px; border-top-right-radius: 7px; position: relative;padding: 0 20px">
        <h1 style="color: white; margin-left: 20px; font-family: 'Istok Web', sans-serif;">ACKNOWLEDGEMENT RECEIPT</h1>
        <div style="display: flex; position: absolute; bottom: 10px; right: 20px;">
            <!-- Search bar -->
            <form method="GET" action="{% url 'mechanic:inventory' %}">
                <input type="text" name="search" placeholder="Search..." 
                    style="padding: 8px; border-radius: 7px; border: 1px solid #ccc; width: 250px; height: 40px;"
                    value="{{ request.GET.search }}">
            </form>
        </div>
    </div>
{% endblock %}
    