{% extends 'IT/index.html' %}
{% load static %}
{% block content %}
<div class="container">
    <!-- Header Section -->
    <div style="background-color: #294FA2; height: 130px; width: 100%; display: flex; justify-content: flex-start; align-items: center; border-top-left-radius: 7px; border-top-right-radius: 7px; position: relative;">
        <h1 style="color: white; margin-left: 20px; font-family: 'Istok Web', sans-serif;">Department(s)</h1>
    </div>

    <!-- This is a block to allow child templates to insert content -->
    <div class="content">
        {% block operational_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
